@mixin between{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

@mixin center-f{
    display: flex;
    justify-content: center;
    align-items: center;


}


@mixin around{
   display: flex;
   justify-content: space-around;
   align-items: center;
}
