:root{
  --red-color:hsl(356, 100%, 66%);
  --pink-color:hsl(355, 100%, 74%);
  --dark-blue:hsl(208, 49%, 24%);
  --white-color:hsl(0, 0%, 100%);
  --gray-color:hsl(240, 2%, 79%);
  --main-transition:1s;
}
